#auth-container {
    padding: 15% 10%;
    height: 100vh;
    text-align: center;
}

.login-box{
    padding: 5% 10%;
    background: white;
    border-radius: 10%;
    box-shadow: 5px 10px;
    border: 1px solid darkgreen;
    margin: 0 20%;
}

@media only screen and (min-width: 1200px) {
    #auth-container {
        padding: 0% 10%;
    }
}